@model IEnumerable<test5.Models.CakeTable>

@{
    ViewBag.Title = "גלריה";
}


<head>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
</head>
<div dir="rtl">
    <h1 align="center">גלריה</h1>


    <!--Search -->
    <form asp-controller="Home" asp-action="Gallery">
        <p>
            סינון לפי רגישות: &nbsp &nbsp &nbsp
            <select name="searchString1">
                <option value="">ללא רגישות</option>
                <option value="בוטנים">בוטנים</option>
                <option value="חלב">חלב</option>
                <option value="לקטוז">לקטוז</option>
                <option value="גלוטן">גלוטן</option>
            </select>
            <input type="submit" value="חפש" />
        </p>
    </form>

    <form asp-controller="Home" asp-action="Gallery">
        <p>
            סינון לפי גודל העוגה: 
            <select name="searchString2">
                <option value="קטן">קטן</option>
                <option value="בינוני">בינוני</option>
                <option value="גדול">גדול</option>
                <option value="גדול מאוד">גדול מאוד</option>
                <option value="ענק">ענק</option>
            </select>
            <input type="submit" value="חפש" />
        </p>
    </form>




    <table class="container">
        <tr>
            <th>
                @*   @Html.DisplayNameFor(model => model.CakeName) *@
                שם העוגה
            </th>
            <th>
                @*   @Html.DisplayNameFor(model => model.Image) *@
                תמונה
            </th>
            <th>
                @*    @Html.DisplayNameFor(model => model.IsSensitive) *@
                רגישות
            </th>
            <th>
                @*    @Html.DisplayNameFor(model => model.Description) *@
                תיאור/רכיבים
            </th>
            <th>
                @*    @Html.DisplayNameFor(model => model.Description) *@
                גודל
            </th>
            <th></th>
        </tr>

        @Html.Raw(TempData["msg"])

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CakeName)
                </td>
                <td>
                    @*    @Html.DisplayFor(modelItem => item.Image)  *@
                    <div class="none">
                        <a target="_blank" href=@Url.Content(item.Image)>
                            <img src=@Url.Content(item.Image) alt="something went wrong" width="300" height="200">
                        </a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSensitive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
            </tr>
        }

    </table>
</div>