@model IEnumerable<test5.Models.Cake>

@{
    ViewBag.Title = "תיאור העוגות";
}

<head>
    <link href="~/Content/lightbox.min.css" rel="stylesheet" />
    <script src="~/Scripts/lightbox-plus-jquery.min.js"></script>
</head>

<body dir="rtl">
    <h2 dir="rtl">תיאור כל העוגות הנמצאות באתר</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CakeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSensitive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CakeName)
                </td>
                <td>
                    @*  @Html.DisplayFor(modelItem => item.Image) *@
                    <!--  <img src=@Url.Content(item.Image) alt="something went wrong" width="300" height="200"> -->

                    <div class="none">
                        <a target="_blank" href=@Url.Content(item.Image)>
                            <img src=@Url.Content(item.Image) alt="something went wrong" width="300" height="200">
                        </a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSensitive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>



        <div>
            <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set"><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt="" /></a>
            <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set"><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
            <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set"><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
            <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set"><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
        </div>

</body>

